{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "lf",
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": ["*.md", "*.yaml", "*.yml"],
      "options": { "proseWrap": "preserve" }
    }
  ]
}
